<div class="container">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-7">
            {{form_row(form.montant)}}
        </div>
        <div class="col-md-7">
            {{form_row(form.budget)}}
        </div>

    </div>
    <button class="btn btn-outline-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>
        {{ button_label|default('Enregistrer ')}}</button>

    {{ form_end(form) }}

</div>