{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<h1>Commande</h1>

<table class="table table-striped table-bordered ">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ commande.id }}</td>
        </tr>
        <tr>
            <th>Montant</th>
            <td>{{ commande.montant }}</td>
        </tr>
        <tr>
            <th>Numero</th>
            <td>{{ commande.numero }}</td>
        </tr>
        <tr>
            <th>Libelle</th>
            <td>{{ commande.libelle }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ commande.date ? commande.date|date('d-m-Y')  : '' }}</td>
        </tr>
    </tbody>
</table>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary"><a href="{{ path('commande_edit', {'id': commande.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i> editer</a>
    </button>
    {{ include('commande/_delete_form.html.twig') }}
    <button type="button" class="btn btn-secondary"><a href="{{ path('commande_index') }}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> retour à la
        liste</a></button>
  </div>

{% endblock %}