{% extends 'base.html.twig' %}

{% block title %}la liste des budgets{% endblock %}

{% block body %}
    <h1>la liste des budgets</h1>

    <table class="table table-striped table-bordered ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Numero</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for budget in budgets %}
            <tr>
                <td>{{ budget.id }}</td>
                <td>{{ budget.montant }}</td>
                <td>{{ budget.numero }}</td>
                <td>{{ budget.date ? budget.date|date('d-m-Y') : '' }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary"> <a href="{{ path('budget_show', {'id': budget.id}) }}">Voir <i class="fa fa-eye"
                            aria-hidden="true"></i></a></button>
                        <button type="button" class="btn btn-secondary"> <a href="{{ path('budget_edit', {'id': budget.id}) }}">editer <i class="fa fa-pencil"
                            aria-hidden="true"></i></a></button>
                      </div>
                                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-secondary">    <a href="{{ path('budget_new') }}">Créer un nouveau</a>
    </button>

{% endblock %}
